<launch>
  <node pkg="futrobotros" type="strategy_node" name="strategy">
    <remap from="strategy_input" to="team_poses"/>
    <remap from="strategy_output" to="team_references"/>
  </node>
  <node pkg="futrobotros" type="obstacle_avoidance_node" name="obstacle_avoidance">
    <remap from="obstacle_avoidance_input" to="team_references"/>
    <remap from="obstacle_avoidance_output" to="team_corrected_references"/>
  </node>
  <node pkg="futrobotros" type="control_node" name="control">
    <remap from="control_input" to="team_corrected_references"/>
    <remap from="control_output" to="team_pwms"/>
  </node>
  <node pkg="futrobotros" type="team_pose_to_tf" name="team_tf_broadcaster">
    <remap from="team_pose" to="team_poses"/>
  </node>
</launch>
