<launch>

<node pkg="futrobot" type="localization_node" name="localization"/>
<node pkg="futrobot" type="strategy_node" name="strategy"/>
<node pkg="futrobot" type="obstacle_avoidance_node" name="obstacle_avoidance"/>
<node pkg="futrobot" type="control_node" name="control"/>
<node pkg="futrobot" type="transmission_node" name="transmission"/>

</launch>
